name: action
on:
  workflow_call:

jobs:
  lint-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: action
          node-version: lts

      - run: npm ci
        working-directory: action

      - run: npm run lint
        working-directory: action

      - run: npm run check
        working-directory: action

  unit-test:
    needs: lint-and-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: action
          node-version: lts

      - run: npm ci
        working-directory: action

      - run: npm run test
        working-directory: action
