name: release
on:
  workflow_dispatch:


jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "api"

      - name: Install cargo-lambda
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: cargo-lambda/cargo-lambda
          cache: enable

      - uses: korandoru/setup-zig@v1
        with:
          zig-version: 0.11.0

      - uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/exec
            @semantic-release/git
            semantic-release-replace-plugin
        env:
          GIT_AUTHOR_NAME: consid-release-bot
          GIT_AUTHOR_EMAIL: hamburg@consid.com
          GIT_COMMITTER_NAME: consid-release-bot
          GIT_COMMITTER_EMAIL: hamburg@consid.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
